body{

margin:0;

background:
radial-gradient(circle,#147a38,#001b08);

font-family:Arial;

color:white;

text-align:center;

}



.game{

max-width:900px;

margin:auto;

padding:20px;

}



.casino-table{

background:
linear-gradient(
145deg,
#075522,
#002b10
);


padding:40px;

border-radius:40px;


box-shadow:

0 50px 100px black,
inset 0 0 50px black;


transform:
perspective(900px)
rotateX(10deg);


}



#wheel{


width:300px;

height:300px;


margin:auto;


border-radius:50%;


background:

conic-gradient(

green 0deg 10deg,

red 10deg 30deg,

black 30deg 50deg,

red 50deg 70deg,

black 70deg 90deg,

red 90deg 110deg,

black 110deg 130deg,

red 130deg 150deg,

black 150deg 170deg,

red 170deg 190deg,

black 190deg 210deg,

red 210deg 230deg,

black 230deg 250deg,

red 250deg 270deg,

black 270deg 290deg,

red 290deg 310deg,

black 310deg 330deg,

red 330deg 360deg

);


border:

12px solid gold;


display:flex;

justify-content:center;

align-items:center;


box-shadow:

0 30px 60px black;


transition:

transform 5s cubic-bezier(.15,.8,.2,1);


}



#resultNumber{


width:90px;

height:90px;


border-radius:50%;


background:white;

color:black;


display:flex;

justify-content:center;

align-items:center;


font-size:40px;


box-shadow:

0 5px 20px black;


}




#numbers{


display:grid;

grid-template-columns:

repeat(12,1fr);


gap:5px;


margin-top:30px;


}



button{


padding:10px;

border-radius:8px;

border:

2px solid gold;


background:#222;

color:white;


cursor:pointer;


}



button:hover{

transform:scale(1.1);

}



.active{

background:gold!important;

color:black;

}



.zero{

background:green;

}



.outside{

margin-top:20px;

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:10px;

}



.panel{

background:#111;

padding:20px;

margin-top:30px;

border-radius:20px;

}



.spin{

background:gold;

color:black;

font-size:22px;

padding:15px 50px;

}



@media(max-width:600px){

#numbers{

grid-template-columns:
repeat(6,1fr);

}


#wheel{

width:220px;

height:220px;

}

}
