body{

margin:0;

background:
radial-gradient(circle,#176b35,#001b08);

font-family:Arial;

color:white;

text-align:center;

}


.game{

display:flex;

flex-direction:column;

align-items:center;

}



#wheel{

margin-top:30px;

background:#004d1c;

border-radius:50%;

box-shadow:

0 40px 80px black;

}



.panel{

margin-top:30px;

background:#111;

padding:25px;

border-radius:20px;

max-width:600px;

}



select{

padding:10px;

font-size:18px;

}



button{


padding:10px 15px;

margin:5px;

border-radius:8px;

border:

2px solid gold;


background:#222;

color:white;

cursor:pointer;


}



button:hover{

transform:scale(1.05);

}



.active{

background:gold!important;

color:black;

}



#numbers{

display:grid;

grid-template-columns:
repeat(12,1fr);

gap:5px;

margin-top:20px;

}



#numbers button{

width:35px;

height:35px;

padding:0;

}



.spin{

background:gold;

color:black;

font-size:22px;

padding:15px 40px;

}



@media(max-width:600px){

#wheel{

width:90vw;

height:90vw;

}


#numbers{

grid-template-columns:
repeat(6,1fr);

}

}
